@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/* font size: 16px */

:root {
    --tomato: hsl(4, 100%, 67%);
    --darkSlateGrey: hsl(234, 29%, 20%);
    --charcoalGrey: hsl(235, 18%, 26%);
    --grey: hsl(231, 7%, 60%);
    --white: hsl(0, 0%, 100%);
}

body{
    background-color: var(--charcoalGrey);
    font-family: "Roboto";
}

.submit-btn {
    background-color: var(--darkSlateGrey) !important;
}

.submit-btn:hover{
    background: linear-gradient(90deg, rgba(255,102,102,1) 54%, rgba(255,103,1,1) 86%);
}

#emailDisplay{
    font-weight: 900;
    text-decoration: underline;
}
